.clients{
  .client-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -40px;
    li {
      flex: 1 0 auto;
      height: 100px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
}
