body{
  font-family: open_sansregular, Arial, sans-serif;
  font-size: 16px;

}
.wrapper{
  max-width: 1200px;
  margin: auto;
}
.cf:before, .cf:after { content: " "; display: table; }

.cf:after { clear: both; }

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  background: inherit;
  outline: 0;
  border: 0;
  padding: 0;
}

.site-section{
  text-align: center;
  background: url(../_temp/site_bg.png);
  .section-header{
    font-weight: 400;
    line-height: 80px;
    color: #95782d;
    text-transform: uppercase;
    border-bottom: 1px #736357 dotted;
    margin: 0;
  }
}